@charset "UTF-8";

    .full {margin: auto; width: 600px; height: 1100px;}
    .title {font-size: 3em; text-align: center; margin:0 0 40px 0; color: green;}
	label { display:inline-block; width : 80px; padding:5px; margin-bottom: 10px; text-align: justify; }
	.g_amount_label,.g_size_label {display:inline-block; width : 75px; padding:5px; margin-bottom: 10px; text-align: justify; }
    #g_category_large , #g_category_small {width:200px; height: 25px;}
	#g_size,#g_amount { width:50px; height: 25px; }
	#g_name, #g_price {width:150px; height: 25px;}
    #g_point, #g_code {width:100px; height: 25px;}
    
    #register_btn { background: #eafaea; margin-right: 10px; }
    
    
	.fileDrop{width: 100%; height: 250px; border: 1px solid red; margin: 20px 0;}
	.ellipsisTarget{
					/* 파일명이 overflow인 것은 안보이게 설정 */
					overflow: hidden;
					/* ... 처리 */
					text-overflow: ellipsis;
					/* 한줄로 처리 */
					white-space: nowrap;
		}