@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    /* Remove the navbar's default rounded borders and increase the bottom margin */
   body {font-family: 'Jeju Gothic', sans-serif;}
    .jumbotron{background-color: white; padding: 0;}
    .container{text-align: center; padding: 20px;}
    .container > div {color: green;}
    .container > div > a {color: green; font-size: 1em; text-decoration: none;}
    .container > div > p > a {color: green; font-size: 1em; text-decoration: none;}
    
	.container-fluid{background-color: #eafaea; height: 30px;}
    .navbar {margin-bottom: 0; border-radius: 0; }
    ul, ol, li { text-decoration: none; list-style:none; margin:0; padding:0; }
   	
   	.myMenu{display: inline-block; font-size: 0.8em; color: green;}
    ul.myMenu > li { display:inline-block;  position:relative; }
    ul.myMenu > li:hover { background:white; }
    ul.myMenu > li ul.submenu {  text-align: center; display:none; position:absolute; top:30px; left:0; }
    ul.myMenu > li:hover ul.submenu { display:block; }
    ul.myMenu > li ul.submenu > li { display:inline-block; width:100px; background-color: #eafaea; padding : 10px;}
    ul.myMenu > li ul.submenu > li:hover { background:white; }
    ul.myMenu > li > a {padding: 5px 10px; color: green;}
    ul.myMenu > li > ul.submenu > li > a {padding: 5px 10px;  color: green;}
    
    .login {float: right;}
    
    ul > li a.logo{padding :5px 10px; color: green; font-size: 1em;}
    ul > li i.fas{color: green; padding :5px 10px;}
    
    .full {margin: auto; width: 600px; height: 1200px;}
    .title {font-size: 3em; text-align: center; margin:0 0 30px 0;}
    .inputArea { margin:10px 0; }
	select { width:100px; }
	label { display:inline-block; width : 80px; padding:5px; margin-bottom: 10px; text-align: center; }
	input { width:120px; height: 25px; }
    select {width:120px; height: 25px;}
    #thumbnail {margin-right: 28.3%; float: right;}
    #thumbnailImg{margin-bottom: 10px;}
    
   #register_Btn {font-size: large; background: #eafaea; float:right; margin-right: 3%;}
    
    
   .footer{text-align: center; margin-bottom: 30px; background-color: #f4f1f1; padding: 20px 0 10px 0;}