@charset "UTF-8";

    .r_body {height: 100%; width: 800px; margin: auto; margin-bottom: 50px;}
    .r_code {padding: 10px; background: #e6fff9; border-radius: 15%;}
    .read > div > img  {border-radius : 3%; width: 400px; height: 500px; float: left; margin-right: 50px;}
    
    label {width:80px; height: 30px; text-align: justify;}
    .read > .name > p {font-size: 2.5em; margin: 10px 0 20px 0;}
    .read > .price {font-size: large; margin-bottom: 20px;} 
    .read > .size {font-size: small;} 
    .read > .amount {font-size: small;} 
    .read > .point {font-size: small;} 
    .read > div .content {font-size: large;  margin-bottom: 10px;} 
    
    .buttonList {text-align: left;}
    .listBtn { width: 100px; margin: 10px;}
    .updateBtn {width: 100px; margin: 10px; background: #8cd98c; } 
    .deleteBtn {width: 100px; margin: 10px; background: #ff6666;}
    .c_buts {width: 800px; margin: auto; height: 100px;}
    .re_body {width: 800px; height: 100%;margin: auto; margin-top: 50px;}
    .c_form {float: right; margin:10px 50px 50px 0; }
    
    #r_id {border: none; width: 50px;}
    #reviewInsertForm > div > span > label {width: 60px; height: 20px;}
    #reviewInsertForm > div > label {width: 60px; height: 20px;}
    #r_title {width: 434px; border: 2px solid #F5E2DC; }
    #r_content {width: 650px;  border: 2px solid #F5E2DC;}
    
    
    #r_update_title {width: 434px; border: 2px solid #F5E2DC; }
    #r_update_content {width: 650px;  border: 2px solid #F5E2DC;}
    .review_update_commit {margin: 10px 20px 20px 10px;}
    
    페이징 부분
	.pagination > .active > a:link > span {
		color: black;
	}
	.pagination > li > a.pageNum.active  {
		color: black;
		background-color: #eafaea;
	}
	.pagination > li > a:link  > span {
		background-color: white;
		color: black;
	}
	.pagination > li > a:visited  > span {
		color: black;
	}
	.pagination > .active > a:hover  > span {
		background-color: white;
		border: 0;
		color: black;
	}
	.pagination > li > a{
		background-color: white;
		border: 0;
		color: black;
	}
    
    
    
    