<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.notice">

<!-- 작성 -->
<insert id="insert">
insert into notice
(n_num,
n_id, 
n_title, 
n_content)
values
((select nvl2(max(n_num), max(n_num)+1  , 1 ) from notice),
#{n_id},
#{n_title}, 
#{n_content})
</insert>

<!-- 조회 -->
<select id="read" resultType="NoticeDTO">
select n_num, n_id, n_title, n_content, n_regdate, n_updateDate, n_filename
from notice
where n_num = #{n_num}
</select>
  
<!-- 수정 -->
<update id="update">
update notice
set
     n_title= #{n_title},
     n_content = #{n_content}
     where n_num = #{n_num}
</update>



<!-- 삭제 -->
 <delete id="delete">
  delete from
   notice
  where n_num = #{n_num}
 </delete>


 <!-- 목록 -->
 <select id="list" resultType="NoticeDTO">
 select n_num, n_id, n_title, n_regdate
 from notice
 order by n_num desc
 </select>



</mapper>