@charset "UTF-8";
	
	.body {width: 800px; height: 800px; margin: auto;}
  	.title{font-size: 3em; text-align: center; margin: 40px 0 20px 0; color: green;}
	.l_btn {float: right; margin: 0 20px 20px 0; background: #eafaea; color: black; width: 100px;}  	
  	
  	페이징 부분
    .pagestyle > .active > a{ background-color: pink; border: 0; }
	.pagination > .active > a:link{
		color: black;
	}
	.pagination > .active > a:visited{
		color: black;
		background-color: #eafaea;
	}
	.pagination > li > a:link{
		background-color: white;
		color: black;
	}
	.pagination > li > a:visited{
		color: black;
	}
	.pagination > .active > a:hover{
		background-color: white;
		border: 0;
	}
	.pagination > li > a{
		background-color: white;
		border: 0;
	}
	